@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 2 auto;
    width: 90%;
    margin: 0 auto;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}

.menu-list li {
    margin-bottom: 10px;
}

.menu-list a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
}

.menu-list a:hover {
    color: #ff6347;
}

img {
    max-width: 100%;
}



.header {
    position: relative;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    color: #9bce21;
    text-transform: uppercase;
    font-weight: 800;
}

.logo-container {
    width: 180px;
}

.logo img {
    width: 100%;
    height: auto;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111419;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #9bce21;
}

#menu {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.menu-icono {
    display: none;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: #121414ed;
    min-width: 100%;
    max-width: 100vw;
    padding: 20px;
    background-color: #3d3c3fc8;
}

.submenu:hover #carrito {
    display: block;
}

th, td {
    color: #FFFFFF;
}

.borrar {
    background-color: #9bce21;
    border-radius: 50%;
    padding: 5px 10px;
    color: #FFFFFF;
    font-weight: 800;
}

#total {
    font-size: 1.5em;
    color: #f5f5f9f6;
}

#lista-carrito th{
    padding: 8px;
    text-align: left;
    color: #FFFFFF;
      justify-content: space-between; /* Agregado para alinear horizontalmente los elementos en las celdas */
        align-items: center;
}


#lista-carrito td {
    padding: 8px;
    text-align: left;
    color: #FFFFFF;
    justify-content: space-between; /* Agregado para alinear horizontalmente los elementos en las celdas */
    align-items: center;
    
}

#lista-carrito table {
    width: 100%;
    border-collapse: collapse;
}

#resumen-popup table {
    width: 100%;
    margin-top: 20px;
}

#resumen-popup th,
#resumen-popup td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

#aceptar-compra-btn,
#cancelar-compra-btn {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

#aceptar-compra-btn:hover,
#cancelar-compra-btn:hover {
    background-color: #45a049;
}

#lista-carrito .incrementar,
#lista-carrito .decrementar {
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#lista-carrito .incrementar:hover,
#lista-carrito .decrementar:hover {
    background-color: #45a049;
}

#lista-carrito table {
    width: 100%;
    border-collapse: collapse;
}

#img-carrito {
    width: 120px;
    padding-left: 10%;
}

#lista-carrito th {
    background-color: #e04141;
}

#lista-carrito .incrementar,
#lista-carrito .decrementar {
    display: inline-block;
    background-color: #c6c6c6;
    color: #d62124;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#lista-carrito .incrementar:hover,
#lista-carrito .decrementar:hover {
    background-color: #5445a0;
}

#lista-carrito img {
    max-height: 80px;
    width: 90%;
}

#resumen-popup img {
    max-height: 40px;
    width: auto;
}

#resumen-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ce6464;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#resumen-popup table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

#resumen-popup table, #resumen-popup th, #resumen-popup td {
    border: 1px solid #dddddd;
}

#resumen-popup th, #resumen-popup td {
    padding: 10px;
    text-align: center;
}

#resumen-popup th {
    background-color: #564141;
}

#resumen-popup button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#resumen-popup button:hover {
    background-color: #2980b9;
}

#aceptar-compra-btn {
    display: block;
    margin-top: 10px;
    background-color: #9bce21;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#aceptar-compra-btn:hover {
    background-color: #13462E;
}

#vaciar-carrito {
    background-color: #ffcccc;
    color: #333;
    font-size: 12px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#nombre-cliente {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#enviar-pedido {
    font-size: 14px;
    padding: 8px 16px;
    background-color: #9bce21;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-2, .btn-3 {
    background-color: #9bce21;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-2:hover, .btn-3:hover, .btn-1:hover {
    background-color: #13462E;
}

.btn-3 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
}


.header-txt {
    flex-basis: 100%;
    margin-bottom: 20px;
}
span {
    color: #fcfcfb;
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 25px;
}

.header-txt h1 {
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: #111419;
    margin-bottom: 35px;
}

.header-txt p {
    font-size: 17px;
    color: #515557;
    margin-bottom: 35px;
}

.butons {
    display: flex;
}

.btn-1 {
    display: inline-block;
    padding: 13px 25px;
    background-color: #9bce21;
    margin-right: 20px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 100px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-img img {
    max-width: 100%;
    height: auto;
}

.oferts {
    padding: 20px 0;
    text-align: center;
}

.ofert-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.b1 {
    background-color: #91ddd8;
}

.b2 {
    background-color: #fa9824;
}

.b3 {
    background-color: #9bce21;
}

.ofert-txt {
    flex-basis: 50%;
    padding: 0 20px;
}
.ofert-txt h3 {
    font-size: 20px;
}


.ofert-txt a {
    color: #FFFFFF;
}

.ofert-img img {
    max-width: 80%;
    height: auto;
}

.products {
    padding: 20px 0;
}

h2.agregar-al-carrito {
    margin-top: 10px;
    padding: 10px 25px;
    background-color: #9bce21;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px;
    transition: box-shadow 0.3s; /* Agregado para una transición suave en el cambio de sombra */
}
.box-container .box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px;
    transition: box-shadow 0.3s;
    text-align: center;
    overflow: hidden; /* Agregado para ocultar el desborde hacia arriba */
    margin-top: 10px;
}


.box-container .box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.box-container img {
    height: 200px;
}

.product-txt h3 {
    font-size: 20px;
    color: #e49e76;
    margin-bottom: 10px;
}
.box-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-txt p {
    margin-bottom: 25px;
    color: #515557;
}

.precio {
    font-size: 17px;
    font-weight: 700;
    color: #ff9100 !important;
}

.btn-2,
.btn-3 {
    background-color: #9bce21;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-2:hover,
.btn-3:hover,
.btn-1:hover {
    background-color: #13462E;
}

.btn-3 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}

.testimonial {
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega sombra al container */
}

.testimonial h2 {
    text-align: center; /* Centra el título */
    font-size: 24px; /* Ajusta el tamaño del título según sea necesario */
    color: #333; /* Cambia el color del título */
}

.testimonal-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.testimonial-1 {
    text-align: center;
    margin-bottom: 20px;
}

.testimonial-1 img {
    width: 100px;
}

.testimonial-1 h4 {
    font-size: 17px;
    color: #111419;
}

.testimonial-1 p {
    color: #515557;
    margin-bottom: 25px;
}

.footer {
    background-color: #f5f5f5; /* Cambia el color de fondo a un gris más suave */
    color: #333; /* Cambia el color del texto a negro o un tono más oscuro según sea necesario */
    padding: 20px 0;
}


.footer-content {
    display: flex;
    flex-wrap: wrap;
}

.footer-section {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.footer-section h3 {
    color: #f40c0c; /* Cambia el color del título a un tono más suave */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 10px;
    color: #777; /* Cambia el color del texto de la lista a un tono más suave */
}
.footer-section a {
    color: #009688; /* Cambia el color del enlace a un tono más llamativo */
    text-decoration: none;
}
.footer-section a:hover {
    text-decoration: underline;
}


.link h3 {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
    color: #f6fafb;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: #9bce21;
}

#nombre-cliente {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#enviar-pedido {
    font-size: 14px;
    padding: 8px 16px;
}

#vaciar-carrito {
    background-color: #ffcccc;
    color: #333;
    font-size: 12px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrito #lista-carrito {
    width: 100%;
    overflow-x: auto;
}

#carrito #lista-carrito table {
    width: 100%;
}

.submenu .carrito-abierto {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: #3d4645a2;
    padding: 20px;
    min-width: 400px;
    max-width: 100vw;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.dropdown {
    position: relative;
    display: inline-block;
    max-width: 90%;
}

.dropdown-btn {
    padding: 15px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
    font-size: px;
    white-space: nowrap;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#scrollTopBtn:hover {
    background-color: #0056b3;
}
.header-txt {
    flex-basis: calc(50% - 25px);
    margin-right: 25px;
}

.header-img {
    flex-basis: calc(50% - 25px);
    margin-left: 25px;
}



@media screen and (max-width: 480px) {
    .submenu #carrito {
        min-width: 100%;
        max-width: 100vw;
        padding: 20px;
        background-color: #eef9f776;
    }

    #carrito #lista-carrito {
        overflow-x: auto;
    }

    #lista-carrito table {
        width: 100%;
    }

    /* Estilo para las filas en el carrito */
    #lista-carrito tr {
        background-color: #ffffff;
    }

    /* Estilo para las celdas en el carrito */
    #lista-carrito td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        color: #ffffff; /* Color blanco para el texto en las celdas */
        display: flex; /* Agregado para corregir el problema de diseño */
        justify-content: space-between; /* Agregado para alinear horizontalmente los elementos en las celdas */
        align-items: center; /* Agregado para alinear verticalmente los elementos en las celdas */
    }

    /* Estilo para las celdas de cantidad en el carrito */
    #lista-carrito .cantidad {
        text-align: center;
        color: #ffffff; /* Color blanco para el texto en las celdas de cantidad */
    }

    /* Estilo para las celdas de botones en el carrito */
    #lista-carrito .accion {
        text-align: center;
    }

    /* Estilo para el total en el carrito */
    #total {
        font-size: 1.5em;
        color: #fdfdfd;
        margin-top: 10px;
    }

    /* Ajuste de estilo para el botón "Aceptar Compra" y "Cancelar Compra" */
    #aceptar-compra-btn,
    #cancelar-compra-btn {
        margin-top: 10px;
        padding: 10px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    #aceptar-compra-btn:hover,
    #cancelar-compra-btn:hover {
        background-color: #45a049;
    }

    /* Ajuste de estilo para el botón "Vaciar Carrito" */
    #vaciar-carrito {
        background-color: #ffcccc;
        color: #333;
        font-size: 12px;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 10px;
    }

    /* Estilo para el botón de enviar pedido */
    #enviar-pedido {
        font-size: 14px;
        padding: 8px 16px;
        background-color: #9bce21;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    #enviar-pedido:hover {
        background-color: #13462E;

    }
    .header-txt {
        flex-basis: calc(50% - 25px);
        margin-right: 25px;
    }

    .header-img {
        flex-basis: calc(50% - 25px);
        margin-left: 25px;
    }
    .ofert-1 {
        padding: 10px;
    }

    .ofert-txt {
        padding: 0 10px;
    }

    .ofert-txt h3 {
        font-size: 24px;
    }
    #whatsapp-container {
        position: fixed;
        bottom: 20px; /* Ajusta la posición vertical según tus necesidades */
        left: 20px; /* Ajusta la posición horizontal según tus necesidades */
        z-index: 1000; /* Asegura que esté por encima de otros elementos */
        cursor: pointer;
      }
      
      #whatsapp-container a img {
        width: 10px; /* Ajusta el ancho según sea necesario */
        height: 10px; /* Mantén la proporción original */
      }
    @media screen and (max-width: 768px) {
        .footer-section {
            flex-basis: 100%; /* Asegura que cada sección ocupe el ancho completo en pantallas pequeñas */
            order: 2; /* Cambia el orden de las secciones para que "Contacto" aparezca debajo de "Quienes Somos" */
        }
    
        .footer-section:nth-child(1) {
            order: 1; /* Restaura el orden original para "Quienes Somos" */
        }
    }

    .contact-list {
        list-style: none;
        padding: 0;
    }
    
    .contact-list li {
        margin-bottom: 10px;
        font-size: 16px;
        color: #333;
    }
    
    .contact-list a {
        text-decoration: none;
        color: #333;
        display: flex;
        align-items: center;
    }
    
    .contact-list a i {
        margin-right: 10px;
    }
    
    .contact-list a:hover {
        color: #ff6347;
    }
    
}

