/* Reseteo y estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    flex-wrap: wrap;
}

.container {
    width: 80%;
    padding: 0;
    margin: 140px auto 0;
}

/* Subgrupo */
.subgrupo-container {
    display: none;
}

.subgrupo-container.mostrar {
    display: block;
}

/* Carrusel */
.box-container.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.box-container.carousel .box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.box-container.carousel img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.box-container.carousel::-webkit-scrollbar {
    height: 12px;
}

.box-container.carousel::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.box-container.carousel::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.box-container.carousel::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Subgrupo título */
h3.subgrupo-titulo {
    display: inline-block;
    padding: 10px 22px;
    background-color: #9bce21;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3.subgrupo-titulo:hover {
    background-color: #13462E;
}

/* Contact section */
.contact-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.contact-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-list li {
    margin-left: 15px;
}

.contact-comment {
    margin-right: 20px;
    font-weight: bold;
    color: #fff;
}

.contact-list a {
    color: #fff;
    transition: color 0.3s;
}

.contact-list a:hover {
    color: #ff6347;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-list li {
    margin-left: 20px;
}

.menu-list a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.menu-list a:hover {
    color: #ff6347;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Cart */
.cart-container {
    position: relative;
}

#img-carrito {
    width: 30px;
    cursor: pointer;
}

#cart-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    display: none;
    font-size: 16px;
}

#carrito {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #fff;
    color: #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    width: 450px;
    max-height: 500px;
    overflow-y: auto;
}

#carrito table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#carrito th,
#carrito td {
    padding: 10px;
    text-align: left;
}

#carrito th {
    background-color: #f4f4f4;
}

#carrito td {
    border-bottom: 1px solid #ddd;
}

#vaciar-carrito, #enviar-pedido {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

#total {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
}

#resumen-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1002;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    border-radius: 10px;
}

#resumen-popup table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#resumen-popup th,
#resumen-popup td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#resumen-popup th {
    background-color: #444;
}

#resumen-popup td {
    color: #ccc;
}

#aceptar-compra-btn, #cancelar-compra-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #9bce21;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

#aceptar-compra-btn:hover, #cancelar-compra-btn:hover {
    background-color: #13462E;
}

/* Imagenes en oferta */
.ofert-img img {
    width: 100%;
    height: auto;
}

/* Botones */
.btn-2, .btn-3 {
    background-color: #9bce21;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-2:hover, .btn-3:hover, .btn-1:hover {
    background-color: #13462E;
}

.btn-3 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}

/* Header content */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.header-txt {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.header-txt h1 {
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: #111419;
    margin-bottom: 35px;
}

.header-txt p {
    font-size: 17px;
    color: #515557;
    margin-bottom: 35px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-img img {
    max-width: 100%;
    height: auto;
}

/* Ofertas */
.oferts {
    padding: 20px 0;
    text-align: center;
}

.ofert-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin-bottom: 15px;
    width: 80%;
    margin: 0 auto;
}

.ofert-img {
    width: 100%;
}

.ofert-txt {
    flex-basis: 50%;
    padding: 0 20px;
    text-align: center;
}

.ofert-txt h3 {
    font-size: 20px;
}

.ofert-txt a {
    color: #FFFFFF;
}

/* Productos */
.products {
    padding: 20px 0;
}

h2.agregar-al-carrito {
    margin-top: 4px;
    margin-bottom: 21px;
    padding: 10px 22px;
    background-color: #9bce21;
    color: #fff;
    border-radius: 1px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2.agregar-al-carrito:hover {
    background-color: #13462E;
}

.box-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}

.box-container .box {
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    transition: box-shadow 0.3s;
    text-align: center;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    vertical-align: top;
}

.box-container .box h3 {
    font-size: 18px; /* Tamaño de texto reducido */
    color: #111419;
    margin-bottom: 10px;
}

.box-container .box p {
    font-size: 14px; /* Tamaño de texto reducido */
    color: #515557;
}

.box-container .box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.box-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Testimonios */
.testimonial {
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

.testimonal-content {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin-right: 17px;
}

.testimonial-1 {
    text-align: center;
    margin-bottom: 20px;
}

.testimonial-1 img {
    width: 100px;
}

.testimonial-1 h4 {
    font-size: 17px;
    color: #111419;
}

.testimonial-1 p {
    color: #515557;
    margin-bottom: 25px;
}

/* Footer */
.footer {
    background-color: #f5f5f5;
    color: #333;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
}

.footer-section {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.footer-section h3 {
    color: #f40c0c;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 10px;
    color: #777;
}

.footer-section a {
    color: #009688;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.link h3 {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
    color: #f6fafb;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: #9bce21;
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#scrollTopBtn:hover {
    background-color: #0056b3;
}

/* Responsive: Pantallas medianas */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-section, .navbar, .cart-container {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .menu-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-list li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
    }

    .dropdown-content a {
        padding: 10px;
    }

    .box-container .box {
        width: 45%;
    }

    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .header-txt {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .header-img {
        flex-basis: 100%;
        margin-left: 0;
    }
}

/* Responsive: Pantallas pequeñas */
@media screen and (max-width: 480px) {
    #lista-carrito {
        width: 70%;
    }

    #lista-carrito th, #lista-carrito td {
        text-align: center;
        font-size: 12px;
    }

    #carrito {
        width: 90%;
        left: 5%;
        right: 5%;
    }

    #carrito table {
        width: 100%;
    }

    #carrito th, #carrito td {
        padding: 10px;
        text-align: left;
    }

    #carrito.show {
        display: block;
    }

    #lista-carrito td {
        text-align: left;
        font-size: 14px;
    }

    #lista-carrito a {
        color: #3498db;
        text-decoration: none;
        font-size: 14px;
    }

    #lista-carrito a:hover {
        text-decoration: underline;
    }

    #lista-carrito .cantidad, #lista-carrito .precio {
        font-size: 14px;
    }

    #lista-carrito .incrementar, #lista-carrito .decrementar {
        font-size: 14px;
    }

    #total {
        font-size: 14px;
        color: #fdfdfd;
        margin-top: 10px;
    }

    #aceptar-compra-btn, #cancelar-compra-btn, #vaciar-carrito, #enviar-pedido {
        font-size: 14px;
        padding: 10px;
    }

    #aceptar-compra-btn:hover, #cancelar-compra-btn:hover, #vaciar-carrito:hover, #enviar-pedido:hover {
        background-color: #45a049;
    }

    .box-container .box {
        width: 90%;
        max-width: 200px;
    }

    .header .contact-section {
        padding: 20px;
    }

    .header .contact-list {
        display: inline-flex;
        padding: 1px 15px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: flex-start;
        align-items: baseline;
        margin-bottom: -38px;
    }

    .header .contact-list li {
        margin: 10px 0;
    }

    .header .contact-list a {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
        margin-bottom: 0px;
        margin-top: -39px;
    }

    .header .contact-list a:hover {
        background-color: white;
        color: #333;
    }

    .cart-container {
        display: flex;
        justify-content: center;
        position: relative;
    }

    #cart-counter {
        right: 0;
        top: 0;
    }

    .header-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-txt {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .header-img {
        flex-basis: 100%;
        margin-left: 0;
    }

    .ofert-1 {
        padding: 3px;
    }

    .ofert-img img {
        width: 120%; /* Incrementa el tamaño de las imágenes en pantallas pequeñas */
    }

    .ofert-txt {
        padding: 0 10px;
    }

    .ofert-txt h3 {
        font-size: 24px;
    }

    #resumen-popup {
        width: 90%;
        max-width: 90%;
        max-height: 90%;
    }

    #resumen-popup table, #resumen-popup th, #resumen-popup td {
        font-size: 12px;
    }

    #resumen-popup button {
        font-size: 14px;
        padding: 8px 12px;
    }
}

